.ul {
  /* border: 1px solid #808080; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.li {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px;
  width: 660px;
  height: 350px;
  box-shadow: 0px 0px 10px 5px #808080;
  transition: transform 0.3s ease;
  background-color: #fff;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 5px #05785d;
  }
}
